.filme {
    width: 319px;
    height: 182px;
    
    border-radius: 4px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    cursor: pointer;
}

.filme>img {
    user-select: none;
}