main {
    display: flex;
}

section {
    margin-left: 60px;
    width: calc(100% - 60px);
    min-height: 100vh;
}

section>article {
    margin: 5vh 80px 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header>h2 {
    color: var(--White, #FFF);
    font-size: 32px;
    font-weight: 500;
}